<%= lna( ohiwa_timebooking.created_at + 2.hours ) %>
<i><%= ohiwa_timebooking.user.name %></i>
booked <%= min2time ohiwa_timebooking.quantity %> on the project 
<strong><%= ohiwa_timebooking.project.name %></strong>
for client <%= ohiwa_timebooking.project.client.name %>
<hr/>
<%= ohiwa_timebooking.text %>
