<%= lna (redmine_issue.created_at + 2.hours )%>
<i><%= redmine_issue.author.name %></i>
created a <%= redmine_issue.tracker.name %>
ticket 
<strong><%= redmine_issue.subject %></strong>
<% if redmine_issue.assigned_to_id and redmine_issue.assigned_to_id != redmine_issue.author_id %>
	and assigned it to
	<i><%= redmine_issue.assigned_to.name %></i>
<% end %>
<hr/>
<%= redmine_issue.description.first(500) if redmine_issue.description %>
<%= "..." if redmine_issue.description and redmine_issue.description.length > 500 %>