<div class="page-header">
	<h3>
		<%= image_tag 'kmf.png', style: "width:80px;", class: 'pull-right'%>
		Live-Ticker
	</h3>
</div>

<ul id="live-ticker"></ul>
<ul id="hidden" class="hide"></ul>

<script type="text/javascript" charset="utf-8">
	
	function getTicker(){		
		$('#hidden').load('/live', function(){
			updateTicker();
		});		
	}
	
	function updateTicker() {
		
		var li = $('#hidden li:first-child');
		
		if( li.length < 1 ){
			window.setTimeout( getTicker, 2000 );
		} else {
			li.hide();
			$('#live-ticker').prepend( li );
			li.show( "blind", 300 );			

			var last_visible = $('#live-ticker li:nth-child(6)');
		
			if( last_visible.length > 0 ){
				last_visible.addClass('remove');
				last_visible.hide('fade', 750 );
				window.setTimeout( removeItem, 1000 );
			}	

			if( $('#live-ticker li').length < 6 ){
				window.setTimeout( updateTicker, 200 );
			} else {
				window.setTimeout( updateTicker, 4000 );
			}				
		}		
	}	
	
	function removeItem(){
		$('.remove').remove();
	}

	getTicker();
</script>