<%= lna( redmine_journal.created_at + 2.hours )%>
<i><%= redmine_journal.user.name %></i>
updated the <%= redmine_journal.issue.tracker.name %> ticket 
<strong><%= redmine_journal.issue.subject %></strong>
<% if redmine_journal.user_id and redmine_journal.user_id != redmine_journal.issue.assigned_to_id %>
	and assigned it to
	<i><%= redmine_journal.issue.assigned_to.name if redmine_journal.issue.assigned_to %></i>
<% end %>
<hr/>
<%= redmine_journal.notes.first(500) if redmine_journal.notes %>
<%= "..." if redmine_journal.notes and redmine_journal.notes.length > 500 %>