<%= lna( ohiwa_secret_account_view.created_at + 2.hours ) %>
<i><%= ohiwa_secret_account_view.user.name %></i>
accessed the password for 
<strong><%= ohiwa_secret_account_view.account.name %></strong>
